/*************************** MAIN STYLES********************/
:root {
	--black: #1c2225;
	--yellow: #ecd979;
	--white: #fcf9f9;

    --font-family: "Manrope", sans-serif;
}

.body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.04em;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/************************* HEADER***********************/
